version: '3.8'

services:
  # Service for your Node.js Telegram bot
  lady_bot:
    build:
      context: .
    container_name: ladys-bot
    restart: always
    env_file:
      - .env
    networks:
      - lady_bot_network

  # Service for the MySQL database
  lady_db:
    image: mysql:8
    container_name: ladys-mysql-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    env_file:
      - .env
    ports:
      - "33107:3306"
    volumes:
      - lady_mysql_data:/var/lib/mysql
    networks:
      - lady_bot_network

volumes:
  lady_mysql_data:

networks:
  lady_bot_network:
    driver: bridge
